@model WebShop.Models.AddressInformation
@{
    ViewBag.Title = "OrderCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Completed</h2>
<p>Thank you for shopping. Your products will be sent to your address soon.</p>

